
/* univalsal seleter for css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* headerbar section start */
.header_bar{
    width: 100%;
    height: 50px;
    background-color:transparent;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
/* nav bar section */
.nav_bar{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

}
/* logo section */
.logo_section{
    width: 18%;
    height: inherit;
}
/* logo image section */
.logo_section img{
    width: 200px;
    height: 100%;
    margin-left: 10px;
}
/* menu section div */
.sinup{
    position: absolute;
    right: 10%;
    top: 10px;
}
.sinup a{
    text-decoration: none;
    color: red;
    font-size: 1.5rem;
}
.banner_section{
    background-image: url(../image/login-the-crown_2-1500x1000.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.banner_section::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.49);
}
.blank{
    width: 100%;
    min-height: 170px;
}
.forget_container{
    width: 34%;
    z-index:10;
    padding: 3rem;
    background-color: rgba(152, 140, 140, 0.242);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.forget_container h1{
    font-size: 1.5rem;
    color: white;
}
.error{
    color: red;
    margin-top: 10px;
    /* display: none; */
}
#success{
    color:green
}
.input_container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.forget_container h3{

    margin-top: 20px;
    font-size: 1.25 rem;
    color: white;
}
.input{
    width: 80%;
    height: inherit;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: rgb(243, 237, 237);
    font-size: 1.12rem;
}
#btn{
    background-color: red;
    font-size: 1.25rem;
    color: white;
    cursor: pointer;
}
@media only screen and (max-width: 950px){
    .forget_container{
        width: 60%;
        padding: 2rem;
    }
}
@media only screen and (max-width: 590px){
    .forget_container{
        width: 90%;
        padding: 1rem;
    }
}