<header class="header_bar">
    <nav class="nav_bar">
      <div class="mobile_menu">
        <i  id="mobile_menu_on_off" class="fa-solid fa-bars"></i>
      </div>
      <!-- logo section start -->
      <div class="logo_section">
        <img src="/static/image/Logo.png" alt="logo" />
      </div>
      <!-- logo section end -->
      <!-- menu section start -->
      <div class="menu_section">
        <ul>
          <a href=""> <li>Home</li> </a>
          <a href=""> <li>TV Shows</li> </a>
          <a href=""> <li>Movies</li> </a>
          <a href=""> <li>Letest</li> </a>
          <a href=""><li>My List</li> </a>
        </ul>
      </div>
      <!-- menu section end -->
      <!-- search section -->
      <div id="search_section" class="search_section">
        <div class="search_div">
          <input id="search_input" type="search" >
        </div>
        <div class="search_result">
          <!-- search result  come here -->
        </div>
      </div>
      <!-- search section end -->
       <!-- profile section start -->
       <div style="display: none;" id="profile" class="profile_section">
          <ul>
            <a href="/profile/"><li>Profile</li></a>
            <a href=""><li>Chage Email</li></a>
            <a href="/updatepass/"><li>Change Password</li></a>
            <a href="/logout/"><li>Logout</li></a>
          </ul>
      </div>
     <!-- profile section end -->
      <!-- user section start -->
      <div class="user_section">
          <div class="user">
            <img id="search" src="/static/image/search.png" alt="search">
            <img src="/static/image/bell.png" alt="notification">
            <img id="user" src="/static/image/user-icon.png" alt="user">
          </div>
      </div>
      <!-- user section end -->
    </nav>
  </header>