{% extends "base.html" %}
    {% block start %} 
    {% include "heder.html" %}
    <section class="banner_section">
      
      </div>
    </section>
    <section class="movies_section" >
      <div class="movies_container">
        <h2>Netflix</h2>
        <div class="movies_row">
          <div class="movie_id">
            <img src="/static/image/download (1).jpeg" alt="">
          </div>
          <div class="movie_id">
            <img src="/static/image/download (2).jpeg" alt="">
          </div>
          <div class="movie_id">
            <img src="/static/image/download (3).jpeg" alt="">
          </div>
          <div class="movie_id">
            <img src="/static/image/download (4).jpeg" alt="">
          </div>
          <div class="movie_id">
            <img src="/static/image/download.jpeg" alt="">
          </div>
      </div>
    </section>
      <div class="play_container">
        <div class="cut_icon"><i class="fa-solid fa-circle-xmark cut"></i></div>
        <div class="popupImage_conrainer">
          <div class="image_cont">
            <img src="https://image.tmdb.org/t/p/w500/H5HjE7Xb9N09rbWn1zBfxgI8uz.jpg" alt="">
          </div>
          <div class="pop_info">
            <h3>Challange</h3>
            <p class="date"><span>96% popularity </span> 10-10-2000</p>
            <p class="movie_info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorem quasi sunt ipsam inventore, nulla magnam quaerat laborum consequuntur assumenda voluptas asperiores distinctio eos voluptates placeat accusamus non sit voluptate!</p>
          </div>
        </div>
        <div class="ctrl_btns">
          <div class="play_btn">
            <i class="fa-solid fa-circle-play inc"></i>
            <p>Play</p>
          </div>
          <div class="download_btn">
            <i class="fa-solid fa-download inc"></i>
            <p>Download</p>
          </div>
          <div class="sevelist_btn">
            <i class="fa-solid fa-circle-plus inc"></i>
            <p>My List</p>
          </div>
          <div class="share_btn">
            <i class="fa-solid fa-share-nodes inc"></i>
            <p>share</p>
          </div>
        </div>
      </div>
    <script src="/static/./js/index.js"></script>
 {% endblock  %} 

<!-- 

  <div class="popupImage_conrainer">
          <div class="image_cont">
            <img src="https://image.tmdb.org/t/p/w500/H5HjE7Xb9N09rbWn1zBfxgI8uz.jpg" alt="">
          </div>
          <div class="popup_info">
            <h1>Challange</h1> 
          <p class="date_info"><span>96% popularity </span> 10-10-2000</p>
          <p class="movie_info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorem quasi sunt ipsam inventore, nulla magnam quaerat laborum consequuntur assumenda voluptas asperiores distinctio eos voluptates placeat accusamus non sit voluptate!</p>
          </div>
        </div>
 -->