<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play videos</title>
    <link rel="stylesheet" href="/static/css/play.css">
</head>
<body>
  <div id="slag" style="display: none;">{{slag}}</div>
    <div class="play_container">
      <!-- <iframe  src="videos/Besharam Rang Song Pathaan Shah Rukh Khan, Deepika Padukone Vishal Sheykhar Shilpa, Kumaar.mp4" frameborder="0"></iframe> -->
    </div>
    <script src="/static/js/play.js"></script>
  </body>
  </html>